network:
  version: 1
  config:
  - type: physical
    name: eth0
    mac_address: '${DOMAIN_NETWORK_DHCP_MAC}'
    subnets:
    - type: dhcp
  - type: physical
    name: eth1
    mac_address: '${DOMAIN_NETWORK_STATIC_MAC}'
    subnets:
    - type: static
      address: '${DOMAIN_NETWORK_STATIC_IPV4}/${NETWORK_MASK}'
