<network>
  <name>${NETWORK_NAME}</name>
  <bridge name="${NETWORK_BRIDGE_NAME}"/>
  <forward mode="nat"/>
  <ip address="${NETWORK_IP_ADDRESS}" netmask="${NETWORK_IP_NETMASK}">
    <dhcp>
      <range start="${NETWORK_IP_DHCP_START}" end="${NETWORK_IP_DHCP_END}"/>
    </dhcp>
  </ip>
</network>
