network:
  version: 1
  config:
  - type: physical
    name: eth0
    mac_address: '${DOMAIN_DHCP_MAC_ADDRESS}'
    subnets:
    - type: dhcp
  - type: physical
    name: eth1
    mac_address: '${DOMAIN_STATIC_MAC_ADDRESS}'
    subnets:
    - type: static
      address: '${DOMAIN_STATIC_ADDRESS}'
