Host ${LIBVIRT_HOST}
    HostName ${LIBVIRT_HOST}
    StrictHostKeyChecking no
    User ${LIBVIRT_USER}

Host ${MACHINE_NAME}
    HostName ${MACHINE_NETWORK_STATIC_IPV4}
    ProxyCommand ssh -W %h:%p ${LIBVIRT_HOST}
    StrictHostKeyChecking no
    User ${MACHINE_USER}
